#about {
    background-color: #F5D4DB;
    color: black;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: auto;
}

.about-info {
    float: left;
    width: 55%;
    text-align: left;
    font-size: 1.25em;
}

#about p {
    padding: 5% 15%;
    width: 70%;
    margin: 0;
}

.headshot-container {
    float: right;
    width: 45%;
}

.about-headshot {
    border-radius: 50%;
    padding: 5% 15%;
    width: 60%;
}

/* For phones */
@media(max-width:600px) { 
    .about-info {
        width: 100%;
        font-size: 1em;
    }
    #about p { 
        padding: 5% 10%;
        width: 80%;
    }

    .headshot-container {
        width: 100%;
    }

    .about-headshot {
        padding: 5% 10%;
        width: 80%;
    }
}
