.dark-pink {
  color: #D07991
}

.light-pink {
  color: #F5D4DB
}

.app {
  text-align: center;
  color: white;
}

ul li {
  display: inline;
  list-style-type: none;
}

ul.app-menu li {
  margin: 0 60px;
  font-size: 40px;
  font-weight: bold;
  color: #D07991;
}

.contacts {
  background-color: white;
  color: #F5D4DB;
  margin: 50px 0;
}

ul.contacts li { 
  /* background-color: #F5D4DB;
  color: white;
  padding: 40px 30px; */
  margin: 0 80px;
  border-radius: 50%;
}

ul.contacts a {
  color: #D07991;
}

ul.contacts a:hover {
  color: #F5D4DB;
}