.dark-pink {
  color: #D07991
}

.light-pink {
  color: #F5D4DB
}

.white {
  color: white;
}

.app {
  text-align: center;
  color: white;
}

ul li {
  display: inline;
  list-style-type: none;
}

ul.app-menu {
  margin: 0;
  padding-top: 20px;
}

ul.app-menu li {
  margin: 0 60px;
  font-size: 40px;
  font-weight: bold;
  color: #D07991;
}

.app-nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(210, 210, 210, .8);
  z-index: 10;
}

.app-nav a{
  margin: 0 50px;
  color: #D07991;
}

.app-nav a.nav-active {
  color: white;
}

.contacts {
  background-color: white;
  color: #F5D4DB;
  margin: 40px 0;
  padding: 0 40px;
}

ul.contacts li { 
  /* background-color: #F5D4DB;
  color: white;
  padding: 40px 30px; */
  margin: 0 5%;
  border-radius: 50%;
}

ul.contacts a {
  color: #D07991;
}

ul.contacts a:hover {
  color: #F5D4DB;
}