.app {
  text-align: center;
  color: white;
}

ul.app-menu li {
  display: inline;
  list-style-type: none;
  margin: 0 60px;
  font-size: 40px;
  font-weight: bold;
  color: #D07991;
}

.app-landing {
  text-align: right;
}

.app-landing img {
  width: 100%;
  position: fixed;
  z-index: -1;
  right: 0;
  top: -195px;
}

.app-landing h1 {
  margin-right: 10%;
  margin-top: 120px;
  margin-bottom: 0;
  font-size: 120px;
}

.app-landing p {
  font-family: "Open Sans", sans-serif;
  font-size: 80px;
  margin-right: 10%;
  margin-top:0;
}