@font-face {
  font-family: 'Lemon/Milk';
  font-weight: normal;
  src: local('Lemon/Milk'),
      url('fonts/LemonMilk.otf') format('opentype');
}

@font-face {
  font-family: 'Lemon/Milk';
  font-weight: bold;
  src: local('Lemon/Milk'),
      url('fonts/LemonMilkbold.otf') format('opentype');
}

body {
  font-family: 'Lemon/Milk';
  background-color: #efefef;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Open Sans', sans-serif;
}

footer {
  background-color: #F5D4DB;
  color: white;
  text-align: center;
}

footer h5 {
  margin: 0;
  padding: 15px 0;
}

a:hover{
  cursor: pointer;
}

/* For phones */
@media(max-width:600px) { 
  h1 { 
    font-size: 1.5em;
  }
}

/* i.fab {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #F5D4DB;
  background-color: #F5D4DB;
  padding: 0.5em 0.6em;

} */
