@font-face {
  font-family: 'Lemon/Milk';
  font-weight: normal;
  src: local('Lemon/Milk'),
      url('fonts/LemonMilk.otf') format('opentype');
}

@font-face {
  font-family: 'Lemon/Milk';
  font-weight: bold;
  src: local('Lemon/Milk'),
      url('fonts/LemonMilkbold.otf') format('opentype');
}

body {
  font-family: 'Lemon/Milk';
}

body {
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Open Sans', sans-serif;
}
