.home {
    position: relative;
    color: white;
    overflow-x: hidden;
}

.app-landing {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
ul.app-menu {
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
    padding-left: 2%;
    z-index: 5;
}


ul.app-menu li {
    margin: 0 5%;
    font-size: 2.5vw;
    font-weight: bold;
    color: #D07991;
}

ul.app-menu .app-brand {
    font-size: 3.5vw;
    color:white;
}

.app-intro {
    position: absolute;
    width: 100%;
    bottom: 35%;
    margin-right: 1%;
    text-align: right;
}

.app-intro h1 {
    margin-right: 8%;
    margin-top: 200px;
    margin-bottom: 0;
    font-size: 6vw;
}

.app-intro p {
    font-size: 4vw;
    margin-right: 8%;
    margin-top:0;

}

/* For phones */
@media(max-width:600px) {
    ul.app-menu li {
        display: none;
     }

     ul.app-menu .app-brand {
        display: block;
        margin-top: 10%;
        font-size: 5vw;
        color:white;
    }

    .app-intro {
        top: 20%;
        margin-left: 10%;
        text-align: left;
    }
    
    .app-intro h1 {
        margin-top: 0;
    }
}
